.background {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: linear-gradient(236.65deg, #4B79A1 1.05%, #1D384F 53.56%, #1D384F 63.5%, #1D384F 72.15%, #1D384F 83.14%, #1D384F 93.48%);
}

.image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}